body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

/* HEADER */
.header {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

/* PRODUCTS GRID */
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

/* PRODUCT CARD */
.product {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

/* BUTTON */
button {
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #e68900;
}
.cart {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  padding: 8px;
  border-bottom: 1px solid #eee;
}
.cart button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cart button:nth-child(odd) {
  background: #25a7ff;
  color: white;
}

.cart button:hover {
  opacity: 0.8;
}
